@model IEnumerable<DBTuntiLeimaus.ViewModels.LeimausViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OppilasLayoutPage1.cshtml";
}

<body style="background-color:black;">
    <div class="row container-fluid">


        <link href="~/Content/Leimaus.css" rel="stylesheet" />
        <link href="~/Content/LeimausPager.css" rel="stylesheet" />

        <div class="col-md-10 bgimg" style="margin-left:0px;">
            <div class="container">
                <!-- Grid -->
                <div class="w3-row w3-content" style="margin-top:40px;">
                    <!-- Sites -->
                    <div>
                        <div class="container-fluid">
                            <form class="">
                                <div class="form-hight">

                                    @Html.DropDownList("LuokkahuoneID", null, "-Valitse luokkahuone-", htmlAttributes: new { @class = "form-control dropdown", @id = "leiModal_Lid", @placeholder= "Luokkahuone"  })

                                    <button type="button" class="btn btn-warning" id="SaveButton">Sisään</button>
                                    <button type="button" class="btn btn-warning" id="UlosButton">Ulos</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-md-2 img-top">
                    <img src="~/Images/Careeria_logo_valkoinen.png" width="220" height="100" class="img-mini" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 img">

                    <div class="row btn-margin-top">
                        <button class="btn btn-warning-square"> Outlook</button>
                    </div>
                    <div class="row btn-margin">
                        <button class="btn btn-warning-square"> Moodle</button>
                    </div>
                    <div class="row btn-margin">
                        <button class="btn btn-warning-square"> Wilma</button>
                    </div>
                    <div class="row btn-margin">
                        <button class="btn btn-warning-square"> Careeria.fi</button>
                    </div>
                    <div class="row btn-margin">
                        <button class="btn btn-warning-square"> Testi</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/Leimaus.js"></script>
        <script src="~/Scripts/LeimausPager.js"></script>
        @*<div class="w3-twothird w3-card">
            <div class="" style="margin-left:30px">
                <table class="table table-bordered leimausList" id="tabledata" style=" background-color:white">
                    <thead style="background-color:white">
                        <tr style="background-color:white">
                            <th>User</th>
                            <th>Sisään</th>
                            <th>ulos</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div id="pageNavPosition"></div>
            </div>
            <div id="pageNavPosition"></div>
        </div>*@




    </div>
</body>

