@model IEnumerable<DBTuntiLeimaus.ViewModels.LeimausViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OppilasLayoutPage1.cshtml";
}

<body>

    <link href="~/Content/Leimaus.css" rel="stylesheet" />


    <div class="w3-content bgimg" style="max-width:1400px">
        <div class="w3-container ">
            <!-- Grid -->
            <div class="w3-row w3-content" style="margin-top:40px;">
                <!-- Sites -->
                <div>
                    <div class="container">
                        <form class="">
                            <div class="form-group">
                                <label class="p" for="Opiskelijanumero" style="color:white;">Opiskelijanumero:</label>
                                <input type="text" class="form-control" id="leiModal_Oid" placeholder="Anna opiskelijanumero">
                            </div>
                            <div style="margin-bottom:140px;">

                                @Html.DropDownList("LuokkahuoneID", null, htmlAttributes: new { @class = "form-control", @id = "leiModal_Lid" })

                                <button type="button" class="btn btn-warning" id="SaveButton">Sisään</button>
                                <button type="button" class="btn btn-warning" id="UlosButton">Ulos</button>

                            </div>
                        </form>
                    </div>
                </div>
                <script src="~/Scripts/Leimaus.js"></script>

                <div class="w3-twothird w3-card">
                    <div class="w3-container w3-card w3-white w3-margin-bottom" style="margin-left:30px">
                        <table class="table table-bordered" id="leimausList" style=" background-color:white">
                            <thead style="background-color:white">
                                <tr style="background-color:white">

                                    <th>User</th>
                                    <th>Sisään</th>
                                    <th>ulos</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

