@{
    /**/

    ViewBag.Title = "Home Page";
}
<link href="~/Content/Leimaus.css" rel="stylesheet" />
@if (ViewBag.displayMenu == "Yes")
{
    Layout = "~/Views/Shared/_OpettajaLayoutPage1.cshtml";

    <h2>  Tervetuloa käyttäjä <strong>@ViewBag.Name</strong> :) </h2>


    <div class="row">
        <div class="col-md-1 img">

            <div class="row btn-margin-top">
                <a href="https://outlook.office365.com" button class="btn btn-warning-square">Outlook</a>
            </div>
            <div class="row btn-margin">
                <a href="https://www.careeria.fi/moodle-login/" class="btn btn-warning-square"> Moodle</a>
            </div>
            <div class="row btn-margin">
                <a href="https://wilma.careeria.fi/" class="btn btn-warning-square"> Wilma</a>
            </div>
            <div class="row btn-margin">
                <a href="https://www.careeria.fi/" class="btn btn-warning-square"> Careeria.fi</a>
            </div>

            <div class="row btn-margin">
                <a href="https://www.careeria.fi/edupoli-oy/" class="btn btn-warning-square">Edupoli oy</a>
            </div>
        </div>
    </div>
}

else
{

    Layout = "~/Views/Shared/_OppilasLayoutPage1.cshtml";


    <h2>  Tervetuloa käyttäjä <strong>@ViewBag.Name</strong> :) </h2>
}