@{
    /**/

    ViewBag.Title = "Home Page";
}
<link href="~/Content/Leimaus.css" rel="stylesheet" />
@if (ViewBag.displayMenu == "Yes")
{
    Layout = "~/Views/Shared/_OpettajaLayoutPage1.cshtml";

<body class="black">
    <div class="form-horizontal" align="center" style="margin-top: 20%;">
        <h2 class="welcome">  Tervetuloa käyttäjä <strong>@ViewBag.Name!</strong> </h2>
        <div class="form-horizontal btn-margin-top">
            <a href="~/OpettajaRaportti/TuntiRaporttiOpettaja" button class="btn btn-warning-squareope">Siirry raporttiin</a>
        </div>
    </div>
</body>
}

else
{

    Layout = "~/Views/Shared/_OppilasLayoutPage1.cshtml";

<body class="black">
    

    <div class="form-horizontal" align="center" style="margin-top: 20%;">
        <h2 class="welcome"> Tervetuloa käyttäjä <strong>@ViewBag.Name</strong> :) </h2>
        <div class="form-horizontal btn-margin-top">
            <a href="~/tuntileimaus/index" button class="btn btn-warning-squareope">siirry leimaukseen</a>
        </div>
        <div class="form-horizontal btn-margin-top">
            <a href="~/tuntileimaus/index" button class="btn btn-warning-squareope">siirry raporttiin</a>
        </div>
    </div>
</body>
}